@font-face {
    font-family: inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

body
{
    height: 100vh;
    width: 100vw;
}

header
{
    background-color: #B3C8CF;
    height: 15vh;
    display: flex;
    justify-content: space-between;
}

.create_new_todo
{
    padding: 20px;
    font-size: 1em;
    font-weight: 600;
    border: none;
    background-color: #FAE4A3;
    border-radius: 20px;
    height: 4em;
    width:auto;
    box-shadow: 1px 1px 6px 4px #0000001c;
}

#projects_list
{
    background-color: #F1EEDC;
    border: none;
    border-radius: 15px;
    height: 6vh;
    width: 16.5vh;
    align-self: flex-end;
    margin: 20px;
    font-weight: 600;
    font-size: 1.2em;
    color: #224B58;
    padding: 10px;
    text-align: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("./assets/images/drop_down_arrow.png") #F1EEDC;
    background-repeat: no-repeat;
    background-position: left .7em top 50%, 0 0;
    background-size: 1.1em auto, 100%;
}

#projects_list.empty
{
    background-color: #F1EEDC;
    border: none;
    border-radius: 15px;
    height: 6vh;
    width: 16.5vh;
    align-self: flex-end;
    margin: 20px;
    font-weight: 600;
    font-size: 1.2em;
    color: #224B58;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#projects_list option
{
    width: 16.5vh !important;
}

#logo
{
    height: 15vh;
    padding: 20px;
    width: auto;
}

main
{
    height: 85vh;
    display: flex;
}

#side
{
    width: 18vw;
    background-color: #D3E2E5;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 30px;
    display: grid;
    justify-content: center;
}

#todos_display
{
    width: 82vw;
    padding:50px;
    background-color: #FFFDF4;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: 35vw 35vw;
    grid-template-rows: repeat(auto-fit,14vh);
    gap:50px;
    justify-content: center;
    align-items: center;
}

.todo.done, .checklist_text.done
{
    text-decoration: line-through;
    color: #717171;
}

.todo
{
    font-weight: 600;
    padding: 20px;
    background-color: #FAE4A3;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
}

.todo div
{
    align-items: center;
    display: flex;
    gap:30px;
}

.todo_row1
{
    font-size: 1.5em;
}

.todo_row2
{
    font-size: 1.2em;
}

.todo_checkbox
{
    height: 2.2em;
    width: 2.2em;
    appearance: none;
    background: none;
    border: 5px solid #224B58;
    border-radius: 6px;
}

.todo_checkbox:checked
{
    appearance: none;
    background-color: #BAE7F6;
}

.todo.selected
{
    box-shadow: 3px 3px 6px 4px #0000002c;
}

.priority_high
{
    border-right: 70px solid #D56161;
}

.priority_low
{
    border-right: 70px solid #63D561;
}

.priority_mid
{
    border-right: 70px solid #D5D061;
}

#todo_popup
{
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 20;
    background-color: #0000004f;
    display: grid;
    justify-content: center;
    align-items: center;
}

#create_todo_popup_box
{
    height: 55vh;
    width: 25vw;
    background-color: #F1EEDC;
    border: 5px solid #224B58;
    border-radius: 50px;
    padding: 30px;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#create_todo_popup_box label
{
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #224B58;
    font-weight: 600;
}

#create_todo_popup_box input, #create_todo_notes,#create_todo_description
{
    appearance: none;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 1px 1px #0000003c;
}

#create_todo_popup_box label:first-child
{
    margin-top: 0;
}

#create_todo_popup_box input[type="radio" i]
{
    appearance: none;
    height: 25px;
    width: 25px;
}

#create_todo_popup_box input[type="radio" i]:checked
{
    border: 3px solid #224B58;
}

#create_todo_checklist
{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
}

#create_todo_checklist label
{
    margin-bottom: 0;
}

#create_todo_checklist button
{
    appearance: none;
    height: 25px;
    width: 25px;
    background-color: #224B58;
    border: none;
    color: #edfbff;
    font-weight: 600;
    border-radius: 5px;
    font-size: 1.2em;
}

.create_todo_checklist button
{
    appearance: none;
    font-size: 1em;
    margin-left: 20px;
    height: 20px;
    border-radius: 5px;
    width: 20px;
    background-color: #224B58;
    border: none;
    color: #edfbff;
    font-weight: 600;
}

#create_todo_notes,#create_todo_description
{
    height: 15vh;
    width: 10vw;
    text-align: start;
    text-overflow: ellipsis;
}

#create_todo_popup_box > button
{
    appearance: none;
    font-size: 1em;
    margin-top: 30px;
    height: 30px;
    border-radius: 5px;
    width: 100px;
    background-color: #224B58;
    border: none;
    color: #edfbff;
    font-weight: 600;
}

.create_todo_checklist
{
    margin-top: 10px;
    display: flex;
    align-items: center;
}


/* tmp css */


#side.extended
{
    width: 25vw; /**/
    display: block; /**/
    color: #224B58; /**/
    font-weight: 600; /**/
    font-size: 1.2em; /**/
}

#todos_display.reduced
{
    width: 75vw; /**/
}

#side > div, #side > p
{
    margin-top: 30px;
    margin-bottom: 30px;
}

#sideTodoName
{
    font-size: 2em;
    color: #224B58;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.sideTodoName
{
    margin-right: 40px;
}

svg
{
    margin-left: 20px;
    height: 1.1em;
    width: 1.1em;
}

.sidePriorityBox
{
    height: 40px;
    width: 40px;
    border: 3px solid #224B58;
    border-radius: 10px;
}

#sideTodoPriority
{
    font-size: 1.4em;
    align-items: center;
    gap: 30px;
    display: flex;
}

.sideCheckList
{
    display: flex;
    font-size: 1em;
    align-items: center;
    gap: 20px;
    margin: 10px;
}

.checklist_checkbox
{
    height: 1.8em;
    width: 1.8em;
    appearance: none;
    background: none;
    border: 5px solid #224B58;
    border-radius: 6px;
}

.checklist_checkbox:checked
{
    background-color: #BAE7F6;
}

#sideTodoChecklist > p
{
    margin-bottom: 20px;
}